#calendar{
    height: 99.7%;
}


#calendar div.rounds{
    padding: 5px;
}


#calendar div#navCalendar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#calendar #navCalendar button{
    width: 50px;
    border: none;
    background-color: rgba(0,0,0,0);
}
#calendar #navCalendar h3{
    font-size: 15pt;
}


#calendar a.games{
    margin-bottom: 2px;
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    cursor: pointer;
    text-decoration: none;
}
#calendar .death a.games{
    margin-bottom: 10px;
}
#calendar .game1{
    border-top: 1px solid rgba(65,105,225, 0.5);
    padding-top: 5px;
}
#calendar .gamesInRound{
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(65,105,225, 0.5);
}


#calendar div.player1, #calendar div.player2{
    display: flex;
}
#calendar div.player2{
    justify-content: flex-end;
}


#calendar .player1 span{
    margin-left: 5px;
}
#calendar .player2 span{
    margin-right: 5px;
}
#calendar span.nick{
    font-size: 15pt;
}
#calendar span.winner{
    color: rgb(76, 212, 76);
}


#calendar div.mold{
    background-color: rgb(65,105,225);
    display: flex;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 100%;
}
#calendar div.moldF{
    background-image: linear-gradient(45deg, rgb(240, 16, 240), gold);
}


#calendar img.champs{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


#calendar div.bans{
    display: flex;
    margin: 0 5px;
}
#calendar div.bansPlayer2{
    justify-content: flex-end;
}
#calendar img.bansImg{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 0 1px;
}


#calendar div.free{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
#calendar div.champFree{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2px;
}
#calendar img.imgFree{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
#calendar img.classFree{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 3px;
}


#calendar div.champPool{
    display: flex;
    align-items: center;
}
#calendar div.moldCh{
    background-image: linear-gradient(45deg, rgb(240, 16, 240), gold);
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0 1px;
    padding: 2px;
    border-radius: 100%;
    animation: rotate 0.5s linear infinite;
}
#calendar .moldCh img{
    animation: rotateInv 0.5s linear infinite;
}
#calendar div.moldFail{
    background-color: rgb(65,105,225);
    display: flex;
    width: 20px;
    height: 20px;
    padding: 1px;
    border-radius: 100%;
}


#calendar div.nickRight{
    text-align: right;
}