#classification{
    
}
#classification div#tables{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}
#classification button{
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    padding: 5px;
    font-size: 12pt;
    text-decoration: underline;
}
#classification table{
    width: 100%;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-radius: 30px;
    padding: 20px;
}
#classification th{
    font-size: 15pt;
    border-bottom: 1px solid whitesmoke;
}
#classification th.infos{
    width: 35px;
}
#classification td{
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}
#classification td.players{
    width: 200px;
    cursor: pointer;
    text-align: left;
}
td#pos1, td#pos2{
    color: lawngreen;
}
td#pos3, td#pos4, td#pos5, td#pos6{
    color: royalblue;
}
td#pos7, td#pos8, td#pos9, td#pos10{
    color: tomato;
}