*{
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;
    background-attachment: fixed;
}
html, body, #app{
    height: 100%;
}
#header{
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    height: 7%;
}
#content{
    height: 93%;
    position: fixed;
    top: 7%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}