#header{
    background-color: black;
    height: 7%;
    display: flex;
    align-items: center;
}
#header img{
    width: 30px;
    margin: 0 30px;
}
#header h1{
    white-space: nowrap;
    font-size: 20pt;
}