#infoPlayers div#info{
    display: flex;
    align-items: center;
}
#infoPlayers div#info img#icon{
    width: 60px;
    height: 100%;
}
#infoPlayers div#info div#mainInfo{
    margin-left: 20px;
}
#infoPlayers div#info div#mainInfo span#nick{
    font-size: 16pt;
}
#infoPlayers div#info div#mainInfo div#forms{
    display: flex;
    margin-top: 5px;
}
#infoPlayers div#info div#mainInfo div#forms div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 7px;
}