@font-face{
	font-family: "lol";
	src: url('../fonts/FrizQuadrataBoldBT.ttf');
}
*{
	font-family: lol;
}

/* Tabela de Classificação */
th{
	font-size: 15pt;
	text-shadow: 1px 1px 1px black;
	color: goldenrod;
}